.berriesDetails {
    width: 350px;
    margin: 2rem auto;
    background: linear-gradient(52.41deg, #FFE1C6 4.87%, #FFCB05 94.37%);
    border-radius: 20px;
    padding: 1.5rem 1.5rem;
    margin-bottom: 50px;

    h2 {
        font-size: 2rem;
        margin-bottom: 1.5rem;
    }

    div {
        display: flex;
        justify-content: space-between;
        padding-bottom: 0.2rem;
    }

    div:nth-last-of-type(1) {
        margin-bottom: 2rem;
    }

    a {
        text-decoration: none;
        color: black;
        background-color: white;
        padding: 0.3rem 1.8rem;
        border-radius: 15px;

        &:hover {
            background-color: #f9c700;
        }
    }
}

.dark {
    background: linear-gradient(52.41deg, #BFDFFF 4.87%, #001224 94.37%);

    a:hover {
        background-color: #3a5e82;
    }
}