.pokemonListItem {
    margin: 5rem auto 0 auto;
    width: 250px;
    transition: transform 200ms;

    &:hover {
        transform: scale(1.1);

        img {
            transform: scale(1.11);
        }
    }

    article {
        background: linear-gradient(52.41deg, #FFE1C6 4.87%, #FFCB05 94.37%);
        border-radius: 20px 20px 0 0;
        padding: 1rem 1.5rem;

        img {
            aspect-ratio: 1/1;
            width: 100%;
            object-fit: contain;
            text-align: center;
            margin-top: -70px;
            transition: transform 200ms;
        }
    }

    div {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0.5rem 1rem;
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
        background-color: white;
    }
}

.dark {
    article {
        background: linear-gradient(52.41deg, #BFDFFF 4.87%, #001224 94.37%);
    }

    div {
        background-color: dimgrey;
    }
}