.pokemonListItem {
    margin: 5rem auto;
}

.pokemonListItem article {
    background: linear-gradient(52.41deg, #FFE1C6 4.87%, #FFCB05 94.37%);
    width: 220px;
    border-radius: 20px 20px 0 0;
    padding: 1rem 1.5rem;
}

.pokemonListItem article img {
    aspect-ratio: 1/1;
    width: 100%;
    object-fit: contain;
    text-align: center;
    margin-top: -70px;
}

.pokemonListItem div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 1rem;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    background-color: white;
}

.dark .pokemonListItem article {
    background: linear-gradient(52.41deg, #BFDFFF 4.87%, #001224 94.37%);
    ;
}