.typesList {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 250px));
    justify-content: center;
    column-gap: 2%;
}

/* =================================
DARK MODE
================================= */
.dark {}