/* .Detailspage {} */

.background {
    background: #ccdadd;
    height: 130vh;
    padding-top: 50px;
}

/* ___________Pokemon-Card________________________________________________ */

.pokemon_card img {
    width: 70%;
    max-width: 500px;
    margin: 0 auto;
    /* background: linear-gradient(52.41deg, #FFE1C6 4.87%, #FFCB05 94.37%); */
    padding: 5vh 5vw 10vh 5vw;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-top: 10px solid white;
    border-left: 10px solid white;
    border-right: 10px solid white;
}

.pokemon_card h2 {
    width: 70%;
    max-width: 500px;
    margin: 0 auto;
    padding: 1rem 4rem 1rem 4rem;
    border: 1px solid rgb(214, 214, 214);
    border-radius: 50px;
    background: linear-gradient(52.41deg, #FFE1C6 4.87%, #FFCB05 94.37%);
}

/* ___________Pokemon-Card_Article________________________________________ */

.pokemon_card article {
    width: 70%;
    max-width: 500px;
    margin: 0 auto;
    background-color: white;
    padding: 1vh 5vw 1vh 5vw;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

/* ___________ Types _____________________________________________________ */

.types_flex {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.types_flex p {
    border: 1px solid rgb(214, 214, 214);
    border-radius: 50px;
    padding: 2% 8%;
    margin-top: 10px;
    color: white;
}

/* ___________ Weight&Height _____________________________________________ */

.weight {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    gap: 50px;
}

/* ___________ Stats _____________________________________________________ */

.pokemon_card .stats {
    color: rgb(145, 145, 145);
    padding-top: 20px;
    margin: 20px 0;
    display: flex;
    flex-direction: column;
    border-top: 2px solid rgb(214, 214, 214);
    padding: 20px 0;
}

.pokemon_card .stats div {
    display: flex;
    justify-content: space-between;
}

.stats .animation {
    margin: 3px 0;
}

.fenster {
    width: 80%;
    background-color: #dfdfdf;
    border-radius: 10px;
    margin-left: 10px;
}

.fenster p {
    height: 20px;
    width: 10%;
    padding-top: 2px;
    color: white;
    text-align: right;
    padding-right: 5px;
    border-radius: 10px;
    font-size: 14px;
    transition: width 2s ease-in-out;
}

/* ___________ Stat_Colours ______________________________________________ */

.animation:nth-of-type(1) .fenster p {
    background-color: #3BB900;
}

.animation:nth-of-type(2) .fenster p {
    background-color: #E40000;
}

.animation:nth-of-type(3) .fenster p {
    background-color: #00A0E4;
}

.animation:nth-of-type(4) .fenster p {
    background-color: #AB00AE;
}

.animation:nth-of-type(5) .fenster p {
    background-color: #965A00;
}

.animation:nth-of-type(6) .fenster p {
    background-color: #FF81F2;
}

/* ___________ Type_Colors _______________________________________________ */

.Normal {
    background-color: #B3B3B3;
}

.Fighting {
    background-color: #E40000;
}

.Flying {
    background-color: #CCDADD;
}

.Poison {
    background-color: #AB00AE;
}

.Ground {
    background-color: #965A00;
}

.Rock {
    background-color: #E1B237;
}

.Bug {
    background-color: #3BB900;
}

.Ghost {
    background-color: #5A1E64;
}

.Steel {
    background-color: #2A4950;
}

.Fire {
    /* background-color: #FF9900; */
    background: linear-gradient(52.41deg, #fd9401 4.87%, #ff4400 94.37%);
}

.Water {
    /* background-color: #00A0E4; */
    background: linear-gradient(52.41deg, #6dd0fa 4.87%, #0043c8 94.37%);
}

.Grass {
    /* background-color: #57921C; */
    background: linear-gradient(52.41deg, #8efe1e 4.87%, #4c8d0b 94.37%);
}

.Electric {
    /* background-color: #FFE600; */
    background: linear-gradient(52.41deg, #ffe23d 4.87%, #ecbb17 94.37%);

}

.Psychic {
    /* background-color: #FF81F2; */
    background: linear-gradient(52.41deg, #FF81F2 4.87%, #aa0499 94.37%);
}

.Ice {
    /* background-color: #6AD2FF; */
    background: linear-gradient(52.41deg, #98dffd 4.87%, #0090ce 94.37%);
}

.Dragon {
    background-color: #00458A;
    background: linear-gradient(52.41deg, #0076eb 4.87%, #00458a 94.37%);
}

.Dark {
    background-color: #1C1C1C;
    background: linear-gradient(52.41deg, #585858 4.87%, #000000 94.37%);
}

.Fairy {
    background-color: #FFC2F9;
    background: linear-gradient(52.41deg, #FFC2F9 4.87%, #ff85f3 94.37%);
}

.Unknown {
    background-color: #B3B3B3;
}

.Shadow {
    background-color: #B3B3B3;
}

/* ___________ Dark-Mode_Style _____________________________________ */


.dark {
    background: rgb(20, 20, 20);
    color: white;
}

.dark .bg_card .pokemon_card article {
    background-color: #1e2327;
}

.dark .bg_card .pokemon_card article h2 {
    background: linear-gradient(52.41deg, #BFDFFF 4.87%, #001224 94.37%);
}

.dark .bg_card .pokemon_card img {
    border-top: 10px solid #1e2327;
    border-left: 10px solid #1e2327;
    border-right: 10px solid #1e2327;
}

.dark .bg_card .pokemon_card article .types_flex p {
    border: 1px solid rgb(97, 97, 97);
}

.dark .bg_card .pokemon_card article .stats .animation .fenster {
    background-color: #242a2f;

}

.dark .bg_card .pokemon_card article .stats .animation p {
    color: white;
}

.light {
    color: #1C1C1C;
}