/* .Detailspage {} */

.background {
    background: #ccdadd;
    height: 130vh;
    padding-top: 50px;
}

.bg_card {
    display: flex;
    justify-content: center;
    align-items: center;
}

.bg_card {
    display: flex;
    justify-content: center;
    align-items: center;
}


/* ___________Pokemon-Card________________________________________________ */

.pokemon_card img {
    width: 70%;
    max-width: 500px;
    margin: 0 auto;
    /* background: linear-gradient(52.41deg, #FFE1C6 4.87%, #FFCB05 94.37%); */
    padding: 5vh 5vw 10vh 5vw;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-top: 10px solid white;
    border-left: 10px solid white;
    border-right: 10px solid white;
}

.pokemon_card h2 {
    width: 70%;
    max-width: 500px;
    margin: 0 auto;
    padding: 1rem 4rem 1rem 4rem;
    border: 1px solid rgb(214, 214, 214);
    border-radius: 50px;
    background: linear-gradient(52.41deg, #FFE1C6 4.87%, #FFCB05 94.37%);
}

/* ___________Pokemon-Card_Article________________________________________ */

.pokemon_card article {
    width: 70%;
    max-width: 500px;
    margin: 0 auto;
    background-color: white;
    padding: 1vh 5vw 1vh 5vw;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

/* ___________ Types _____________________________________________________ */

.types_flex {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.types_flex p {
    border: 1px solid rgb(214, 214, 214);
    border-radius: 50px;
    padding: 2% 8%;
    margin-top: 10px;
    color: white;
}

/* ___________ Weight&Height _____________________________________________ */

.weight {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    gap: 50px;
}

/* ___________ Stats _____________________________________________________ */

.pokemon_card .stats {
    color: rgb(145, 145, 145);
    padding-top: 20px;
    margin: 20px 0;
    display: flex;
    flex-direction: column;
    border-top: 2px solid rgb(214, 214, 214);
    padding: 20px 0;
}

.pokemon_card .stats div {
    display: flex;
    justify-content: space-between;
}

.stats .animation {
    margin: 3px 0;
}

.fenster {
    width: 80%;
    background-color: #dfdfdf;
    border-radius: 10px;
    margin-left: 10px;
}

.fenster p {
    height: 20px;
    width: 10%;
    padding-top: 2px;
    color: white;
    text-align: right;
    padding-right: 5px;
    border-radius: 10px;
    font-size: 14px;
    transition: width 2s ease-in-out;
}

/* ___________ Stat_Colours ______________________________________________ */

.animation:nth-of-type(1) .fenster p {
    background-color: #6bae4c;
}

.animation:nth-of-type(2) .fenster p {
    background-color: #da3f3f;
}

.animation:nth-of-type(3) .fenster p {
    background-color: #54b1d9;
}

.animation:nth-of-type(4) .fenster p {
    background-color: #a24aa4;
}

.animation:nth-of-type(5) .fenster p {
    background-color: #896c3f;
}

.animation:nth-of-type(6) .fenster p {
    background-color: #f6d159;
}

/* ___________ Type_Colors _______________________________________________ */

.Normal {
    background: linear-gradient(52.41deg, #e3e3e3 4.87%, #848484 94.37%);
}

.Fighting {
    background: linear-gradient(52.41deg, #e34e4e 4.87%, #9f2b2b 94.37%);
}

.Flying {
    background: linear-gradient(52.41deg, #CCDADD 4.87%, #879193 94.37%);
}

.Poison {
    background: linear-gradient(52.41deg, #a84aaa 4.87%, #552256 94.37%);
}

.Ground {
    background: linear-gradient(52.41deg, #97794c 4.87%, #5e4828 94.37%);
}

.Rock {
    background: linear-gradient(52.41deg, #d4b76e 4.87%, #75461a 94.37%);
}

.Bug {
    background: linear-gradient(52.41deg, #8dd46c 4.87%, #5fa83d 94.37%);
}

.Ghost {
    background: linear-gradient(52.41deg, #7d4d85 4.87%, #2b132f 94.37%);
}

.Steel {
    background: linear-gradient(52.41deg, #4f8a97 4.87%, #1b2f33 94.37%);
}

.Fire {
    background: linear-gradient(52.41deg, #cc7259 4.87%, #de402b 94.37%);
}

.Water {
    background: linear-gradient(52.41deg, #68adca 4.87%, #4169b9 94.37%);
}

.Grass {
    background: linear-gradient(52.41deg, #a2d370 4.87%, #65a425 94.37%);
}

.Electric {
    background: linear-gradient(52.41deg, #f7e57d 4.87%, #e6bf3f 94.37%);
}

.Psychic {
    background: linear-gradient(52.41deg, #e79be0 4.87%, #a33999 94.37%);
}

.Ice {
    background: linear-gradient(52.41deg, #c8eaf9 4.87%, #41a0c8 94.37%);
}

.Dragon {
    background: linear-gradient(52.41deg, #7daedf 4.87%, #2a5988 94.37%);
}

.Dark {
    background: linear-gradient(52.41deg, #464646 4.87%, #000000 94.37%);
}

.Fairy {
    background: linear-gradient(52.41deg, #f7cbf3 4.87%, #ee97e5 94.37%);
}

.Unknown {
    background: linear-gradient(52.41deg, #d8d8d8 4.87%, #717171 94.37%);
}

.Shadow {
    background: linear-gradient(52.41deg, #d8d8d8 4.87%, #717171 94.37%);
}

/* ___________ Dark-Mode_Style _____________________________________ */


.dark {
    background: rgb(20, 20, 20);
    color: white;
}

.dark .bg_card .pokemon_card article {
    background-color: #1e2327;
}

.dark .bg_card .pokemon_card article h2 {
    background: linear-gradient(52.41deg, #4e5b68 4.87%, #001224 94.37%);
    border: 1px solid rgb(116, 116, 116);
}

.dark .bg_card .pokemon_card img {
    background-color: rgba(1, 1, 1, 0.1);
    border-top: 10px solid #1e2327;
    border-left: 10px solid #1e2327;
    border-right: 10px solid #1e2327;
}

.dark .bg_card .pokemon_card article .types_flex p {
    border: 1px solid rgb(97, 97, 97);
}

.dark .bg_card .pokemon_card article .stats .animation .fenster {
    background-color: #242a2f;

}

.dark .bg_card .pokemon_card article .stats .animation p {
    color: white;
}

.light {
    color: #1C1C1C;
}