.pokemontypes {
    padding-bottom: 12%;
}

.pokemontypes h2 {
    width: 17rem;
    color: #2C72B8;
    font-weight: bolder;
    font-size: 2rem;
    margin: 4rem auto 2rem auto;
    padding: 1.5rem 3rem;
    border-radius: 15px;
    background: linear-gradient(52.41deg, #FFE1C6 4.87%, #FFCB05 94.37%);
}

.pokemontypes form {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 3% 5%;
    justify-items: center;
    gap: 2rem
}

.pokemontypes a {
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
    font-weight: 700;
    padding: 1rem 3rem;
    border-radius: 5px;
    -webkit-box-shadow: inset 0px 0px 17px 13px rgba(0, 0, 0, 0.27);
    box-shadow: inset 0px 0px 17px 13px rgba(0, 0, 0, 0.27);
    width: 12rem;
    transition: transform 200ms;
}

.pokemontypes a:hover {
    transform: scale(1.2);
}

.pokemontypes a:nth-of-type(1) {
    background-color: #B3B3B3;
}

.pokemontypes a:nth-of-type(2) {
    background-color: #E40000;
}

.pokemontypes a:nth-of-type(3) {
    background-color: #CCDADD;
}

.pokemontypes a:nth-of-type(4) {
    background-color: #AB00AE;
}

.pokemontypes a:nth-of-type(5) {
    background-color: #965A00;
}

.pokemontypes a:nth-of-type(6) {
    background-color: #E1B237;
}

.pokemontypes a:nth-of-type(7) {
    background-color: #3BB900;
}

.pokemontypes a:nth-of-type(8) {
    background-color: #5A1E64;
}

.pokemontypes a:nth-of-type(9) {
    background-color: #2A4950;
}

.pokemontypes a:nth-of-type(10) {
    background-color: #FF9900;
}

.pokemontypes a:nth-of-type(11) {
    background-color: #00A0E4;
}

.pokemontypes a:nth-of-type(12) {
    background-color: #57921C;
}

.pokemontypes a:nth-of-type(13) {
    background-color: #FFE600;
}

.pokemontypes a:nth-of-type(14) {
    background-color: #FF81F2;
}

.pokemontypes a:nth-of-type(15) {
    background-color: #6AD2FF;
}

.pokemontypes a:nth-of-type(16) {
    background-color: #00458A;
}

.pokemontypes a:nth-of-type(17) {
    background-color: #1C1C1C
}

.pokemontypes a:nth-of-type(18) {
    background-color: #FFC2F9;
}

/* =================================
DARK MODE
================================= */

.dark {
    #link {
        -webkit-box-shadow: -10px 0px 13px -7px #000000, 10px 0px 13px -7px #000000, 0px 0px 24px 6px rgba(190, 190, 190, 0.5);
        box-shadow: -10px 0px 13px -7px #000000, 10px 0px 13px -7px #000000, 0px 0px 24px 6px rgba(190, 190, 190, 0.5);
    }

    h2 {
        background: linear-gradient(52.41deg, #BFDFFF 4.87%, #001224 94.37%);
        color: #000000;
        color: #fff;
    }

    a {
        -webkit-box-shadow: 1px 1px 19px 2px rgba(255, 255, 255, 0.31);
        box-shadow: 1px 1px 19px 2px rgba(255, 255, 255, 0.31);
    }
}