.mainPage {
	position: relative;
	background: #ccdadd;

	min-height: 100vh;

	transition: color 500ms, background 500ms;

	header {
		& > a {
			display: block;
			width: max-content;
			margin: 0 auto;
			img {
				padding: 1rem 0;

				margin: 0 auto;
				width: clamp(200px, 80vw, 300px);
			}
		}

		section {
			display: flex;
			justify-content: center;
			gap: 1rem;
			padding: 1rem 0;

			button {
				aspect-ratio: 1/ 1;
				border-radius: 99999px;
				width: 3em;
				height: 3em;
				padding: 8px;
				background: rgba(255, 255, 255, 1);
				border: none;
				outline: 2px solid transparent;

				transition: transform 200ms, background 200ms, outline 200ms;

				&:hover {
					background: rgba(220, 220, 250, 1);
					transform: scale(1.1);
					outline: 2px solid rgba(0, 0, 0, 0.4);
				}

				img {
					aspect-ratio: 1/ 1;
					width: 100%;
					filter: none;

				}
			}

			input[type="text"] {
				padding: 0.5rem 1rem;
				border-radius: 99999px;
				width: clamp(100px, 40%, 350px);
				font-weight: 700;
				font-size: 1.4rem;
				max-height: 50px;

				border: none;
				outline: 2px solid transparent;

				transition: background 200ms, outline 200ms;

				&:hover {
					background: rgb(220, 220, 220);
					outline: 2px solid rgba(0, 0, 0, 0.4);
				}
			}
		}
	}

	aside {
		width: clamp(200px, 20vw, 300px);
		position: fixed;
		top: 0;
		bottom: 0;
		transition: left 500ms;
		z-index: 1;
		background: white;
		border-right: 2px solid black;

		div {
			height: 100%;
		}
	}
}

.dark {
	color: white;
	background: rgba(20, 20, 20, 1);

	header {
		section {
			button {
				background: rgb(20, 20, 20);
				outline: 2px solid rgba(255, 255, 255, 0.1);

				&:hover {
					background: rgba(30, 30, 30, 1);
					outline: 2px solid rgba(255, 255, 255, 0.2);
				}

				img {
					filter: invert(100%) brightness(100%) saturate(0);
				}
			}

			input[type="text"] {
				background: rgba(50, 50, 50, 1);
				color: rgb(230, 230, 230);

				&:hover {
					background: rgb(70, 70, 70);
					outline: 2px solid rgba(255, 255, 255, 0.4);
				}
			}
		}
	}
	aside {
		background: rgba(25, 25, 25, 1);
	}
}