.mainPage {
	position: relative;

	header {
		& > a {
			display: block;
			width: max-content;
			margin: 0 auto;
			img {
				padding: 1rem 0;

				margin: 0 auto;
				width: clamp(200px, 80vw, 300px);
			}
		}

		form {
			display: flex;
			justify-content: center;
			gap: 1rem;
			padding: 1rem 0;

			button {
				aspect-ratio: 1/ 1;
				border-radius: 99999px;
				width: 40px;
				padding: 8px;
				background: rgba(0, 0, 0, 0.05);

				img {
					aspect-ratio: 1/ 1;
					width: 100%;
					filter: none;

				}
			}

			input[type="text"] {
				padding: 0.5rem 1rem;
				border-radius: 99999px;
				width: clamp(100px, 40%, 350px);
				font-weight: 700;
				font-size: 1.4rem;
				max-height: 50px;
			}
		}
	}

	aside {
		width: 500px;
		position: fixed;
		top: 0;
		bottom: 0;
		transition: left 500ms;
		z-index: 1;
		background: white;
		border-right: 2px solid black;

		div {
			height: 100%;
		}
	}
}

.dark {
	color: white;
	background: rgb(20, 20, 20);

	header {
		form {
			button {
				img {
					filter: invert(100%) brightness(100%) saturate(0);
				}
			}
		}
	}
}