* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	cursor: url("../src/assets/img/icons/pokemon-ball2.png") 16 16, auto;
}

html {
	font-size: 15px;
	scroll-behavior: smooth;

}

body {
	font-family: Arial, sans-serif;
	overflow-x: hidden;
	margin: 0 auto;
	min-height: 100vh;

}

img {
	display: block;
}